<html lang='en'>
  <head>
    {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <main>
      <section class='heading container'>
        <figure class='img-box ib2'>
          <img src='/img/bg2.jpg' />
        </figure>

        <div class='head-box txt'>
          <p>Welcome to Bhanu World</p>
          <h1>
            I Am A
            <span>Mern Stack Developer</span>, Freelancer And Artist
          </h1>
          <button>about me</button>
        </div>
      </section>
    </main>

  {{>footer}}
  </body>
</html>